table {
    font-family: Impact, sans-serif;
    font-size: 30px;
    background-color: beige;
    color: #3a2702;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: navy;
}

p {
    text-align: center;
}

td {
    height: 50px;
    width: 50px;
    text-align:center;
    vertical-align: middle;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: sandybrown;
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: sandybrown;
}

tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even){
    background-color: beige;
}
tr:nth-child(even) td:first-child {
    background-color: beige;
}
tr:nth-child(odd) td:last-child{
    background-color: beige;
}
tr:first-child td:nth-child(-n + 10){
    transform: rotate(180deg);
}
td:last-child{
    transform: rotate(180deg);
}